body{
	margin: 0;
	font-size: 30px;
    background-color: #EFEFEF;
    display: grid;
    grid-template-columns: 20vw 15vw 65vw;
    box-sizing: border-box;
    flex-direction: column;
}


.header{
  grid-row: 1;
  grid-column: 1/3;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-content: center;
  flex-wrap: wrap;
  border-right: 2vh solid orange;
}

.main{
  grid-row: 1;
  min-height: 80vh;
  grid-column: 3/4;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.footer{
  grid-row: 2;
  grid-column: 1/10;
  text-align: center;
  color: white;
  height: 19vh;
  background-color: black;
  border-top: 1vh solid orange;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EFEFEF;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 20px;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 99;
}
.dropbtn {
  background-color: black;
  color: white;
  padding: 2vh 2em 2vh 2em;
  font-size: 20px;
  border: none;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: inline-block;}

.dropdown:hover .dropbtn {background-color: orange; color: black}


@media all and (min-width: 700px){
  .header{
    grid-column: 1/2;
  }
  .main{
    grid-column: 2/4;
  }


}

@media all and (min-width: 1200px){
  .header{
    grid-row: 1;
    grid-column: 1/5;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-right: 0px;
    height: 10vh;
    border-bottom: 2vh solid orange;
    

  }
  .main{
    grid-row:2;
    grid-column: 1/5;
    min-height: 68vh;
  }
  .footer{
    height: 19vh;
    grid-row: 3;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}